<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Perfil</ion-title>
    <ion-icon name="newspaper" slot="end" size="large" class="ion-margin-end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia quasi optio deserunt. Quos nisi aut fugit in voluptate explicabo saepe dolores ipsa nostrum voluptatibus nulla fuga culpa illo, eveniet distinctio.</p>
</ion-content>
